<!--================================================================================
@file         config.html
@version      0.0.1
@path         client/views/config
@description  Renderiza a visão de Configurações do sistema.
@author       Winny
@contact      http://swellitsolutions.com.br/contato
@copyright    Copyright Swell It Solutions.
================================================================================ -->

<template name="config">
  <div class="section">
    <h4 class="header">CONFIGURAÇÕES</h4>
    <div class="divider"></div>
  </div>
</template>