/*================================================================================
  Swell It Solutions
  Item Name: custom-style.css
  Version:   0.1
  @path      client/stylesheet/
  @author:   Winny
  ================================================================================ */

  footer {
   position: fixed;
   bottom: 0px;
   width: 100%;
 }

 .login {
  position: relative;
  margin-top: 2%;
  margin-bottom: 5%;
}

.picker__holder  {
  background: rgba(255, 215, 215, 0.1) none repeat scroll 0% 0% !important;
}

.mymodal {
  display: none;
  position: fixed;
  left: 0px;
  right: 0px;
  background-color: #FAFAFA;
  padding: 0px;
  max-height: 90%;
  width: 55%;
  margin: auto;
  border-radius: 5px;
  will-change: top, opacity;
}

@media only screen and (max-width: 960px) {
  .mymodal {
    max-height: 90%;
    width: 80%;
  }
}

.mycard {
  padding: 1% 2% 1% 2%;
}

.modalbtn {
  margin-right:20px;
  margin-top:10px;
  margin-bottom:10px;
}

.tabs .indicator {
  background-color: #0D47A1 !important;
  height: 4px !important;
}

.statusbadge {
  width:200px;
}

.badgefill { /*Estilo do badge (dashboards) utilizado somente em telas medias e pequenas*/
  width: 80%;
  text-align: center;
}

.badgefillpc { /*Estilo do badge (dashboards) utilizado somente em telas grandes*/
  width: 50%;
  margin-left: 20%;
}

.responsive-th {
  margin-bottom: 20% !important;
  margin-top: 5% !important;
}

.timeline-bg {
  background-color: #b2ebf2;
  padding:2% !important;
}

.homebadge {
  width:30%;
}

.myflatbtn {
  color: #9C9C9C !important;
}

.tlsmall {
  font-size: 2.8rem !important;
}

