<!--================================================================================
@file         footer.html
@version      0.0.1
@path         client/views/_include
@description  Rodapé do sistema.
@author      	Winny
@contact     	http://swellitsolutions.com.br/contato
@copyright   	Copyright Swell It Solutions.
================================================================================ -->

<template name="footer">
	<!-- START FOOTER -->
	<footer class="login">
		<div class="container center grey-text">
		Copyright © 2015 <a class="grey-text text-darken-1" href="http://www.tavazando.com" target="_blank">TaVazando!</a> All rights reserved.
		</div>
	</footer>
	<!-- END FOOTER -->
</template>