<!--================================================================================
@file         header.html
@version      0.0.1
@path         client/views/_include
@description  Menú do sistema, cabeçalho do sistema.
@author       Winny
@contact      http://swellitsolutions.com.br/contato
@copyright    Copyright Swell It Solutions.
================================================================================ -->

<template name="header">
 <!-- START HEADER -->
 <header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
   <nav class="blue accent-2">
    <div class="nav-wrapper">
     <ul class="left">
      <li class="no-hover"><a href="#" data-activates="slide-out" class="menu-sidebar-collapse btn-floating btn-flat btn-medium waves-effect waves-light hide-on-large-only"><i class="mdi-navigation-menu" ></i></a></li>
      <li><h1 class="logo-wrapper"><a href="notifications" class="brand-logo darken-1" title="Dashboards"><img src="images/tavazando.png" alt="logo" style="width: 135px;"></a> <span class="logo-text">TáVazando!</span></h1></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="notifications" title="Dashboard"><i class="material-icons left" style="margin-right: 0px;">home</i></a></li>
      <li><a href="management" title="Relatório"><i class="material-icons left">business</i>Relatório</a></li>
      <li><a href="config" title="Configurações"><i class="material-icons left" style="margin-right: 0px;">settings</i></a></li>
      <li><a href="javascript:void(0);" title="Maximizar" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="material-icons left" style="margin-right: 0px;">settings_overscan</i></a></li>
      <li><a href="/" title="Sair"><i class="material-icons left" style="margin-right: 0px;">power_settings_new</i></a></li>
    </ul>

    <!-- MENU CELULAR/TABLET -->
    <ul id="slide-out" class="side-nav leftside-navigation ps-container ps-active-y">
      <li class="bold"><a href="/notifications" class="waves-effect waves-cyan left"><i class="material-icons left">home</i>Dashboard</a></li>
      <li class="bold"><a href="management" class="waves-effect waves-cyan left"><i class="material-icons left">business</i>Relatório</a></li>
      <li class="bold"><a href="config" class="waves-effect waves-cyan left"><i class="material-icons left">settings</i>Configurações</a></li>
      <li class="bold"><a href="/" class="waves-effect waves-cyan left"><i class="material-icons left">power_settings_new</i>Sair</a></li>
    </ul>
    <!-- FIM MENU CELULAR/TABLET -->
  </div>
</nav>
</div>
<!-- end header nav-->
</header>
<!-- END HEADER -->
</template>
