<!--================================================================================
@file         forgotpassword.html
@version      0.0.1
@path         client/views/forgotpassword
@description  Renderiza a visão de Recuperar a Senha do sistema.
@author       Winny
@contact      http://swellitsolutions.com.br/contato
@copyright    Copyright Swell It Solutions.
================================================================================ -->

<template name="forgotpassword">
  <!-- START MAIN -->
  <div class="grey lighten-5" style="width: 100% !important; heiht:100% !important">
   <div class="container">
    <div id="login-page">
      <div class="row">
        <div class="col s12 m8 offset-m2 halign card-panel  blue accent-2" style="margin-top: 5%; border-radius: 10px;">
          <form class="">
            <div class="row" style="margin-top: 30px">
              <div class="row col s12 m6 l6 center-align">
                <div>
                  <img src="images/225.png" alt="icone" class="responsive-img valign">
                  <p class="caption center" style= "font-family: Candara bold; color: white;"><i>TáVazando!</i> - Aplicativo para Ocorrências <br> de Serviços de Saneamento.</p>
                </div>
              </div>
              <div class="row col s12 m6 l6">
                <h4 class="center" style="margin-bottom:10%; font-family: Candara bold; color: white;">Bem-vindo ao <i>TáVazando!</i></h4>
                <p class="left" style= "color: white;">Se você esqueceu sua senha, você pode recupera-lá com seu e-mail:</p>
                <div class="divider"></div>
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="mdi-communication-email prefix white-text"></i>
                      <input id="email4" class="validate" type="email">
                      <label class="" for="email" style= "color: white;">Email</label>
                    </div>
                  </div>
                  <div class="row right">
                    <div class="input-field col s12">
                    <a class="waves-effect waves-red btn-flat" href="/" style= "color: white;"><i class="material-icons right" style= "color: white;">cancel</i>Cancelar</a>
                      <a class="btn waves-effect indigo accent-4 right" href="/"><i class="mdi-content-send right"></i>Recuperar</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MAIN -->
</template>