  <!--================================================================================
  @file         notifications.html
  @version      0.0.1
  @path         client/_views/notifications
  @description  Renderiza as visão de ocorrências no sistema.
  @author       Winny
  @contact      http://swellitsolutions.com.br/contato
  @copyright    Copyright Swell It Solutions.
  ================================================================================ -->

      <template name="notifications">
        <!-- CARD DE NOTIFICAÇÕES -->
        <div class="card mycard">
          <div class="section">
            <div id="notifications"> <h5>Ocorrências</h5></div>
            <div class="divider"></div>
            <div class="row">
              <div class="col s12 m12 l12">
                <table id="data-table-notifications" class="striped" cellspacing="0">
                  <thead>
                    <tr role="row">
                      <th data-field="id" class="sorting_asc" tabindex="0" aria-controls="data-table-notifications" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Ocorrências: Ordenar colunas de forma descendente" style="width: 120px;">Ocorrências</th>
                      <th data-field="month" class="sorting" tabindex="0" aria-controls="data-table-notifications" rowspan="1" colspan="1" aria-label="Data Hora: Ordenar colunas de forma ascendente" style="width: 130px;">Data Hora</th>
                      <th data-field="active" class="sorting" tabindex="0" aria-controls="data-table-notifications" rowspan="1" colspan="1" aria-label="CEP: Ordenar colunas de forma ascendente" style="width: 140px;">Endereço</th>
                      <th data-field="active" class="sorting" tabindex="0" aria-controls="data-table-notifications" rowspan="1" colspan="1" aria-label="Foto: Ordenar colunas de forma ascendente" style="width: 150px;">Cidade</th>
                      <th data-field="active" class="sorting" tabindex="0" aria-controls="data-table-notifications" rowspan="1" colspan="1" aria-label="Status: Ordenar colunas de forma ascendente" style="width:120px;">Status</th>
                      <th data-field="active" class="sorting" tabindex="0" aria-controls="data-table-notification-profiles" rowspan="1" colspan="1" aria-label=": Ordenar colunas de forma ascendente" style="width: 82px;"></th>
                    </tr>
                  </thead>
                  <tbody>
                   {{#each ocorrencias}}
                    <tr role="row">
                      <td>{{descricao_helper tipo}}</td>
                      <td>{{data}}</td>
                      <td>{{endereco}}</td>
                      <td>{{cidadeId}}</td>
                      <td>
                      <select name="change_status_select" data-id="{{_id}}">
                          <option value="0" selected="{{#if status_equals status 0}}selected{{/if}}">Aberto</option>
                          <option value="1" selected="{{#if status_equals status 1}}selected{{/if}}">Em Andamento</option>
                          <option value="2" selected="{{#if status_equals status 2}}selected{{/if}}">Concluído</option>
                        </select>
                      </td>
                      <!-- Modal Trigger -->
                      <td><a title="Detalhes da Ocorrência" class="waves-effect btn-flat btn-floating right modal-trigger" data-id="{{_id}}" href="#modal1"><i class="mdi-editor-mode-edit myflatbtn"></i></a></td>
                      <!-- Modal Structure -->
                      <div id="modal1" class="modal">
                        <div class="modal-content center">
                          <h5>Detalhes da Ocorrência</h5>
                      </div>
                      <div class="divider"></div>
                <div class="row">
                <div class="col s12 m12 l12">
                  <table id="data-table-notifications" class="striped" cellspacing="0">
                    <thead>
                      <tr role="row">
                        <th data-field="id" class="sorting_asc" tabindex="0" aria-controls="data-table-notifications" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Ocorrências: Ordenar colunas de forma descendente" style="width: 300px;">Imagem</th>
                        <th data-field="month" class="sorting" tabindex="0" aria-controls="data-table-notifications" rowspan="1" colspan="1" aria-label="Data Hora: Ordenar colunas de forma ascendente" style="width: 250px;">Descrição</th>
                        <th data-field="active" class="sorting" tabindex="0" aria-controls="data-table-notifications" rowspan="1" colspan="2" aria-label="CEP: Ordenar colunas de forma ascendente" style="width: 150px;">CEP</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" >
                       <td>
                         {{#if current_ocorrencia.arquivo}}
                           <img src="{{current_ocorrencia.arquivo}}" height="100" width="200" />
                         {{else}}
                           Não disponível
                         {{/if}}
                        </td>
                        <td>{{current_ocorrencia.descricao}}</td>
                        <td>{{current_ocorrencia.cep}}</td>
                        <td></td>
                      </tr>
                     </tbody>
                  </table>
                </div>
              </div>
               <div class="modal-footer">
                          <div class="divider"></div>
                          <a id="save-edit-user" class="modal-action btn btn-small waves-effect waves-light green right modalbtn updateUserButton" title="Salvar"><i class="material-icons">done</i></a>
                          <a class="modal-action modal-close btn btn-small waves-effect waves-light red right modalbtn" title="Cancelar" id="close-edit-user"><i class="material-icons">not_interested</i></a>
                </div>
             </div>

                </tr>
             {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </template>
