<!--================================================================================
@file         layout.html
@version      0.0.1
@path         client/views/_layout
@description  Estrutura dos Layout's padrões do sistema.
@author       Winny
@contact      http://swellitsolutions.com.br/contato
@copyright    Copyright Swell It Solutions.
================================================================================ -->

<template name="layoutDefault">
  {{>header}}
  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      <!-- START CONTENT -->
      <section id="content">
        <!--start container-->
        <div class="container">
          {{>yield}}
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
  </div>
  <!-- END MAIN -->
  {{>footer}}
</template>

<template name="layoutLogin">
  {{>yield}}
  {{>footer}}
</template>


